<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2018 - VivoFinderWebAdmin <a href="https://github.com/developersancho">developersancho</a>.</strong> All rights
    reserved.
</footer>
